.cart {
  width: 100%;
  max-width: 820px;
  margin-top: 50px;

  &_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e3e3;
  }
}

.top-button {
  border: transparent;
  background-color: transparent;
  font-size: 18px;
  color: #9f9f9f;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
